/.Categoria.java._trace
/.Categoria.xtendbin
/.Contenido.java._trace
/.Contenido.xtendbin
/.Encuesta.java._trace
/.Encuesta.xtendbin
/Categoria.java
/Contenido.java
/Encuesta.java
/.VelocidadTransf.java._trace
/.VelocidadTransf.xtendbin
/VelocidadTransf.java
/.Titulo.java._trace
/.Titulo.xtendbin
/Titulo.java
/.Test.java._trace
