/.QueryCategoria.java._trace
/.QueryContenido.java._trace
/.QueryEncuesta.java._trace
/.QueryTitulos.java._trace
/.QueryVelocidad.java._trace
/.QueryDeleteJava.java._trace
/.QueryDelete.java._trace
/.QueryInsert.java._trace
/.QueryPerteneceCategoria.java._trace
