/.QueryEncuesta.xtendbin
/.QueryVelocidad.java._trace
/.QueryVelocidad.xtendbin
/QueryVelocidad.java
/.QueryContenido.java._trace
/.QueryContenido.xtendbin
/.QueryEncuesta.java._trace
/QueryContenido.java
/QueryEncuesta.java
/.QueryTitulos.java._trace
/.QueryCategoria.java._trace
/.QueryCategoria.xtendbin
/.QueryTitulos.xtendbin
/QueryCategoria.java
/QueryTitulos.java
/.QueyDelete.java._trace
/.QueryDelete.java._trace
/.QueryUpdate.java._trace
/.QueryInsert.java._trace
/.QueryDeleteJava.java._trace
/.QueryInsertJava.java._trace
/.QueryUpdateJava.java._trace
