/.QueryEncuesta.xtendbin
/.QueryVelocidad.java._trace
/.QueryVelocidad.xtendbin
/QueryVelocidad.java
/.QueryContenido.java._trace
/.QueryContenido.xtendbin
/.QueryEncuesta.java._trace
/QueryContenido.java
/QueryEncuesta.java
/.QueryTitulos.java._trace
/.QueryCategoria.java._trace
